/* //////////////////////////////////////////////////////////////////////////////// */
@font-face {
  font-family: "inter-regular";
  src: url(../fonts/InterWeb/Inter-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter-semibold";
  src: url(../fonts/InterWeb/Inter-SemiBold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter-bold";
  src: url(../fonts/InterWeb/Inter-Bold.woff2) format("woff2");
  font-display: swap;
}
/*Satoshi*/
@font-face {
  font-family: "satoshi-regular";
  src: url(../fonts/Satoshi/Satoshi-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "satoshi-medium";
  src: url(../fonts/Satoshi/Satoshi-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "satoshi-bold";
  src: url(../fonts/Satoshi/Satoshi-Bold.woff2) format("woff2");
  font-display: swap;
}
/* //////////////////////////////////////////////////////////////////////////////// */
:root {
  --font-principal-regular: satoshi-regular;
  --font-subtitulos-semibold: satoshi-medium;
  --font-titulos-bold: satoshi-bold;
  --font-numeros: inter-regular;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
}

.cFlex {
  display: flex;
}

.listas {
  list-style: none;
}

.botones {
  color: white;
  font-family: var(font-principal-regular);
  border-radius: 3em;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.principal {
  background-color: #e0e0e0;
  margin: 0em;
  padding: 20em 0 20em 0;
}

.pieSimple, .pie {
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  width: 100%;
}
.pieSimple .listas, .pie .listas {
  padding: 1% 0 1% 0;
}
.pieSimple .listas li, .pie .listas li {
  font-family: var(--font-subtitulos-semibold);
}

.titulos {
  font-size: 3rem;
  font-style: inherit;
  font-family: var(--font-titulos-bold);
  color: #2E2E2E;
}

.subTitulos {
  font-size: 2rem;
  font-style: inherit;
  font-family: var(--font-subtitulos-semibold);
  color: #2E2E2E;
}

.subtitulosSecundarios {
  font-size: 1.5rem;
  font-style: inherit;
  font-family: var(--font-subtitulos-semibold);
  color: #2E2E2E;
}

.texto {
  font-size: 1rem;
  font-family: var(--font-principal-regular);
  font-weight: bold;
  text-align: justify;
  color: #2E2E2E;
}

body {
  background-color: white;
}

.rosa {
  background-color: #CE125C;
  border: 1px solid #CE125C;
  padding: 0.8em;
}

.miH2 {
  font-size: 1rem;
  margin: 0;
  align-items: center;
  font-weight: bold;
  line-height: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: var(--font-principal-regular);
}

.link {
  text-decoration: none;
}
.link:visited {
  color: #2E2E2E;
}
.link:hover {
  color: #2E2E2E;
}
.link:active {
  color: #2E2E2E;
}

.enlace {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #2E2E2E;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 1em;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.mainContainer {
  height: 900px;
  background: linear-gradient(180deg, #bebebe 0%, rgba(0, 0, 0, 0) 100%);
  align-items: center;
  justify-content: center;
  padding: 8% 8% 4% 8%;
}
.mainContainer .sectionMainContainerIndex {
  height: 100%;
  width: 100%;
}
.mainContainer .sectionMainContainerIndex .textoIndex {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2% 0 0;
}
.mainContainer .sectionMainContainerIndex .textoIndex .titulos {
  font-size: 3.5rem;
}
.mainContainer .sectionMainContainerIndex .textoIndex .subTitulos {
  color: #5c5c5c;
}
.mainContainer .sectionMainContainerIndex .textoIndex .botonesIndex {
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  align-items: flex-end;
}
.mainContainer .sectionMainContainerIndex .textoIndex .botonesIndex .botonExp {
  flex-basis: 130px;
}
.mainContainer .sectionMainContainerIndex .textoIndex .botonesIndex .botonExp .btnExp {
  width: 100%;
}
.mainContainer .sectionMainContainerIndex .textoIndex .botonesIndex .botonCre {
  flex-basis: 130px;
  margin-left: 5%;
}
.mainContainer .sectionMainContainerIndex .textoIndex .botonesIndex .botonCre .btnCre {
  width: 100%;
}
.mainContainer .sectionMainContainerIndex .imagenIndex {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.mainContainer .sectionMainContainerIndex .imagenIndex .mainContenido {
  height: 85%;
  width: 70%;
  background-color: #2E2E2E;
  border-radius: 1.5em;
  flex-direction: column;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 20px 20px);
}
.mainContainer .sectionMainContainerIndex .imagenIndex .mainContenido .fotoMainContenido {
  height: 80%;
}
.mainContainer .sectionMainContainerIndex .imagenIndex .mainContenido .fotoMainContenido .fotoMain {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0 0;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.sectionMainContainer {
  flex-direction: column;
  background-color: #e0e0e0;
  height: calc(650px + 1.6em);
}
.sectionMainContainer .principalContainerCompra {
  margin: 100px;
  justify-content: center;
}
.sectionMainContainer .principalContainerCompra .itemImagenCompra {
  justify-content: center;
  align-items: center;
  /* height: 300px; */
  height: 450px;
}
.sectionMainContainer .principalContainerCompra .itemImagenCompra .imagenCompra {
  height: 100%;
  justify-content: center;
  align-items: center;
  /* efecto sombra */
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 20px 20px);
}
.sectionMainContainer .usOp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 40px;
  margin: 0 8%;
  height: 50px;
}
.sectionMainContainer .usOp .nom1 {
  justify-content: flex-start;
}
.sectionMainContainer .usOp .nom1 .itemUsuario {
  border: 1px solid white;
  border-radius: 2em;
  background-color: white;
  color: #000000;
  padding: 0 1.5em 0 1.5em;
  font-family: var(--font-principal-regular);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 5px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sectionMainContainer .usOp .nom1 .itemUsuario .opFotoCont {
  height: 30px;
  width: 30px;
}
.sectionMainContainer .usOp .nom1 .itemUsuario .opFotoCont .iconPerfil {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}
.sectionMainContainer .usOp .nom1 .itemUsuario a {
  padding-left: 1em;
  font-size: 1rem;
  color: #2E2E2E;
}
.sectionMainContainer .usOp .nom1 .itemUsuario a:visited {
  color: #2E2E2E;
}
.sectionMainContainer .usOp .nom1 .itemUsuario a:hover {
  color: #2E2E2E;
}
.sectionMainContainer .usOp .nom1 .itemUsuario a:active {
  color: #2E2E2E;
}
.sectionMainContainer .usOp .op1 {
  justify-content: flex-end;
}
.sectionMainContainer .usOp .op1 .iconOp {
  border: 1px solid white;
  border-radius: 2em;
  background-color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 5px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sectionMainContainer .usOp .op1 .iconOp .iconOpc {
  padding: 0.2em;
}

.infoContainer:first-child {
  grid-area: info;
}

.compraContainer:nth-child(2) {
  grid-area: compra;
}

.dataContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  margin: 4% 8%;
  grid-template-areas: "info compra";
}
.dataContainer .infoContainer .infoCompra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dataContainer .infoContainer .infoCompra .itemNombre .titulos {
  display: flex;
  justify-content: flex-start;
}
.dataContainer .infoContainer .infoCompra .itemDesc .textoMain {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.dataContainer .compraContainer .compraCompra {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dataContainer .compraContainer .compraCompra .itemActividad {
  display: flex;
  justify-content: flex-end;
}
.dataContainer .compraContainer .compraCompra .itemPujas {
  display: flex;
  justify-content: flex-end;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.borPrin {
  margin: 5% 8%;
}

.containerId {
  height: 42px;
}

.botonU {
  width: 100%;
}

.containerCrea .subU {
  margin: 10px 0;
}
.containerCrea .separador {
  margin: 1% 0;
  width: 100%;
}
.containerCrea .separador .lineaSeparador {
  border: 1px solid #d4d4d4;
  border-radius: 2rem;
}

.cardUsuario {
  width: 300px;
  height: 500px;
}
.cardUsuario .cardU {
  background-color: white;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2em;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 10px 10px);
}
.cardUsuario .cardU .listasU {
  flex-direction: column;
  justify-content: center;
  list-style: none;
  height: 170px;
  width: 100%;
  padding: 20px;
  margin: 0;
}
.cardUsuario .cardU .listCardU {
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-numeros);
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 0 0 1em 1em;
}
.cardUsuario .cardU .imagenFlexU {
  height: 300px;
  width: 100%;
}
.cardUsuario .cardU .imagenFlexU .imagenCardU {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}

.perfilContainer {
  width: 100%;
  height: 400px;
}
.perfilContainer .fotosContainer .fotoPortada {
  position: absolute;
  height: 350px;
  width: 100%;
}
.perfilContainer .fotosContainer .fotoPortada .imgPortada {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.perfilContainer .fotosContainer .fotoPerfil {
  width: 100%;
  height: 400px;
}
.perfilContainer .fotosContainer .fotoPerfil .fondoPerfil {
  position: relative;
  background-color: #ffffff;
  top: 55%;
  left: 7%;
  border-radius: 10rem;
  width: 250px;
  height: 250px;
}
.perfilContainer .fotosContainer .fotoPerfil .fondoPerfil .imgPerfil {
  position: relative;
  top: 10px;
  left: 10px;
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 10rem;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.encabezado {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2301295518) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 999;
}
.encabezado .header01 {
  margin: 0 48px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.encabezado .header02 {
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.encabezado .header02 .logo {
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.encabezado .header02 .botones {
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.encabezado .search {
  flex-grow: 1;
  flex-basis: 200px;
  background-color: #ffffff;
  border: 1px solid #B3B3B3;
  border-radius: 3em;
  padding: 0.8em 0.8em 0.8em 0.8em;
  color: #B3B3B3;
  margin: 0 20px;
  font-size: 10px;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.encabezado .iconBuscar {
  transform: scale(0.6);
}
.encabezado .iconoMenu {
  position: fixed;
  margin: 0 20px;
  z-index: 100;
}
.encabezado .menuHamburguer {
  margin: 2%;
}
.encabezado .subTitulos {
  margin: 0;
  padding: 0.2em;
}
.encabezado .listas {
  padding: 0.5em 0 0 3em;
}

.containerHam {
  margin: 0 1.3%;
  margin-top: 23px;
  position: fixed;
  right: 0;
  top: 0;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* footer index */
.pieSimple, .pie {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  font-size: 1.5rem;
  width: 100%;
  padding: 0 8%;
}

.pie .secFooter1 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}
.pie .secFooter1 .navFooter {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.pie .secFooter1 .navFooter .lIzq {
  flex-direction: column;
}
.pie .secFooter1 .navFooter .lDer {
  flex-direction: column;
  justify-content: flex-start;
}
.pie .separadorFooter {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 0;
}
.pie .separadorFooter .lineaSeparador {
  width: 100%;
  height: 2px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 4rem;
}

.pieSimple .secFooter2, .pie .secFooter2 {
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
.pieSimple .secFooter2 .navFooter2, .pie .secFooter2 .navFooter2 {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.pieSimple .secFooter2 .navFooter2 .redFoot, .pie .secFooter2 .navFooter2 .redFoot {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0;
}
.pieSimple .secFooter2 .navFooter2 .redFoot li, .pie .secFooter2 .navFooter2 .redFoot li {
  padding-left: 0;
  margin-right: 40px;
}
.pieSimple .secFooter2 .navFooter2 .redFoot li .logoFooter, .pie .secFooter2 .navFooter2 .redFoot li .logoFooter {
  margin-bottom: 4px;
}
.pieSimple .secFooter2 .navFooter2 .redes, .pie .secFooter2 .navFooter2 .redes {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.pieSimple .secFooter2 .navFooter2 .redes .logoRedes, .pie .secFooter2 .navFooter2 .redes .logoRedes {
  transform: scale(0.8);
  margin-left: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.containerSubastas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.containerSubastas .card {
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 1em;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 20px 20px);
}
.containerSubastas .card .listas {
  flex-direction: column;
  justify-content: center;
  height: 50px;
  padding: 20px;
  margin-top: 16px;
  width: 100%;
}
.containerSubastas .card .listCard {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-numeros);
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 20px;
  height: 80px;
  border-radius: 0 0 1.5em 1.5em;
}
.containerSubastas .card .imagenFlex {
  height: 300px;
  width: 100%;
}
.containerSubastas .card .imagenFlex .imagenCard {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.coleccionesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 2% 8%;
}
.coleccionesContainer .coleccionCard {
  width: 100%;
  height: 600px;
  border-radius: 1em;
  position: relative;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 20px 20px);
}
.coleccionesContainer .coleccionCard .oscuresedor {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  position: absolute;
}
.coleccionesContainer .coleccionCard .imagenColeccion {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}
.coleccionesContainer .coleccionCard .textoColeccion {
  color: white;
}
.coleccionesContainer .coleccionCard .textoColeccion .nombreColeccion {
  position: absolute;
  bottom: 12%;
  left: 10%;
  font-size: 5rem;
  z-index: 10;
}

/* //////////////////////////////////////////////////////////////////////////////// */
.infoPerfilContainer {
  flex-direction: column;
  margin: 10% 0 5% 0;
}
.infoPerfilContainer .separador {
  margin: 2% 0 4% 0;
  width: 100%;
}
.infoPerfilContainer .separador .lineaSeparador {
  border: 1px solid #d4d4d4;
  background-color: #d4d4d4;
}
.infoPerfilContainer .sectionInfo {
  width: 100%;
  height: 180px;
}
.infoPerfilContainer .sectionInfo .itemPerfil {
  justify-content: flex-start;
  width: 50%;
}
.infoPerfilContainer .sectionInfo .itemPerfil .fotoPerfilInfo {
  justify-content: flex-start;
}
.infoPerfilContainer .sectionInfo .itemPerfil .fotoPerfilInfo .contFotoPerfil {
  height: 180px;
  width: 180px;
}
.infoPerfilContainer .sectionInfo .itemPerfil .fotoPerfilInfo .contFotoPerfil .imgInfoFotoPerfil {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}
.infoPerfilContainer .sectionInfo .itemPerfil .infoPerfil {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10%;
}
.infoPerfilContainer .sectionInfo .itemPerfil .infoPerfil .subTitulos {
  font-size: 3rem;
}
.infoPerfilContainer .sectionInfo .itemDescPerfil {
  justify-content: flex-end;
  width: 50%;
}
.infoPerfilContainer .sectionInfo .itemDescPerfil .texto {
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  color: #5e5e5e;
}

#btn-menu {
  display: none;
}

#btn-menu:checked ~ .menuHamburguer {
  right: 0;
}

#btn-menu:checked ~ .encabezado .iconoMenu {
  right: 0;
}

.containerHam {
  height: 51.59px;
  align-items: center;
}
.containerHam .iconoMenu {
  transform: scale(1.2, 1.2);
}

.encabezado label:hover {
  cursor: pointer;
}

.encabezado .iconoMenu {
  position: relative;
  transition: all 0.5s;
}
.encabezado .menuHamburguer {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  margin: 0;
  filter: drop-shadow(rgba(0, 0, 0, 0.322) 0px 40px 40px);
  transition: all 0.6s;
}
.encabezado .menuHamburguer .containerMenuHam {
  position: absolute;
  background-color: #202020;
  border-radius: 1.5rem 0 0 1.5rem;
  right: 50%;
  height: 100%;
  width: 46%;
  top: 0;
  right: 0;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex {
  flex-direction: column;
  height: 100%;
  padding: 15%;
  align-items: center;
  justify-content: center;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .subTitulos {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 3.2rem;
  color: white;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .listas {
  margin: 0;
  padding: 0;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .listas li {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: white;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .listas li .link {
  color: white;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .listas li .link:visited {
  color: white;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .listas li .link:hover {
  color: white;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .listas li .link:active {
  color: white;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .contacto {
  height: 30%;
}
.encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu {
  height: 70%;
  justify-content: space-between;
}

/* //////////////////////////////////////////////////////////////////////////////// */
.landingContainerCarrusel {
  width: 100%;
  height: 600px;
  padding: 120px;
}
.landingContainerCarrusel .carruImg {
  object-fit: cover;
  height: 600px;
  width: 100%;
  border-radius: 1em;
}
.landingContainerCarrusel .textCarru {
  font-size: 3rem;
  margin-bottom: 90px;
}

.separador {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0;
}
.separador .lineaSeparador {
  width: 100%;
  height: 2px;
  border: 1px solid #2E2E2E;
  border-radius: 4rem;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* Animaciones */
.header02 .botones:hover, .header02 .logo:hover, .itemUsuario:hover, .iconOp:hover, .cardUsuario:hover {
  transform: translate(0, -2px);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 5px);
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.03, 1.03);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 5px);
  transition: all 0.2s;
}

.coleccionCard:hover {
  transform: scale(1.01, 1.01);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 5px 5px);
  transition: all 0.2s;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.coleccionesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 2% 8%;
}
.coleccionesContainer .coleccionCard {
  width: 100%;
  height: 600px;
  border-radius: 1em;
  position: relative;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 20px 20px);
}
.coleccionesContainer .coleccionCard .oscuresedor {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  position: absolute;
}
.coleccionesContainer .coleccionCard .imagenColeccion {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}
.coleccionesContainer .coleccionCard .textoColeccion {
  color: white;
}
.coleccionesContainer .coleccionCard .textoColeccion .nombreColeccion {
  position: absolute;
  bottom: 12%;
  left: 10%;
  font-size: 5rem;
  z-index: 10;
}

/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 1921px) {
  .subastasFlex {
    display: flex;
    justify-content: center;
  }

  .containerSubastas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 1616px;
    flex-wrap: wrap;
    margin: 3% 0;
  }
  .containerSubastas .card {
    flex-basis: 374px;
    max-width: 374px;
  }

  .coleccionFlex {
    display: flex;
    justify-content: center;
  }
  .coleccionFlex .coleccionesContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1614px;
  }

  .dataContainerFlex {
    display: flex;
    justify-content: center;
  }
  .dataContainerFlex .dataContainer {
    display: flex;
    flex-basis: 1616px;
    max-width: 1616px;
    justify-content: space-between;
  }

  .sectionMainContainer .usOpCont {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .sectionMainContainer .usOpCont .usOpContFlex {
    display: flex;
    flex-basis: 1616px;
    max-width: 1616px;
    width: 100%;
  }
  .sectionMainContainer .usOpCont .usOpContFlex .usOp {
    margin: 0;
    gap: 1150px;
  }
  .sectionMainContainer .usOpCont .usOpContFlex .usOp .nom1 {
    width: 258px;
  }

  .borPrinCont {
    display: flex;
    justify-content: center;
  }
  .borPrinCont .borPrin {
    display: flex;
    justify-content: center;
    flex-basis: 1616px;
    max-width: 1616px;
  }

  .containerTexto {
    justify-content: center;
    margin-top: 2%;
  }
  .containerTexto .containerMax {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 1616px;
    max-width: 1616px;
  }
  .containerTexto .containerMax .subTitulos {
    justify-content: flex-start;
    flex-basis: 1616px;
    max-width: 1616px;
  }
  .containerTexto .containerMax .separador {
    width: 100%;
    margin: 1.5% 0;
  }
  .containerTexto .containerMax .separador .lineaSeparador {
    border: 1px solid #d4d4d4;
    border-radius: 2rem;
  }

  .encabezado {
    display: flex;
    justify-content: center;
  }
  .encabezado .header01 {
    flex-basis: 1616px;
    max-width: 1616px;
    flex-grow: 0;
  }

  .pie {
    justify-content: center;
  }
  .pie .secFooter1 {
    max-width: 1616px;
  }
  .pie .separadorFooter {
    max-width: 1616px;
  }
  .pie .secFooter2 {
    max-width: 1616px;
  }

  .pieSimple {
    justify-content: center;
  }
  .pieSimple .secFooter2 {
    max-width: 1616px;
  }

  .mainContainer .sectionMainContainerIndex {
    max-width: 1616px;
    justify-content: center;
  }

  .infoPerfilContainer {
    align-items: center;
  }
  .infoPerfilContainer .separador {
    max-width: 1616px;
  }
  .infoPerfilContainer .sectionInfo {
    max-width: 1616px;
  }

  .perfilContainer .fotosContainer {
    justify-content: center;
  }
  .perfilContainer .fotosContainer .fotoPerfil {
    max-width: 1616px;
  }
  .perfilContainer .fotosContainer .fotoPerfil .fondoPerfil {
    left: 0;
  }
}
/* mobile */
@media screen and (max-width: 680px) {
  .dataContainerFlex .dataContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 400px;
    margin: 3rem;
    grid-template-areas: "info" "compra";
  }
  .dataContainerFlex .dataContainer .compraContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .dataContainerFlex .dataContainer .compraContainer .compraCompra .itemActividad {
    justify-content: flex-start;
  }

  .infoContainer:first-child {
    grid-area: info;
  }

  .compraContainer:nth-child(2) {
    grid-area: compra;
  }
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* media query para grid subastas */
@media screen and (min-width: 1800px) and (max-width: 1920px) {
  .containerSubastas {
    margin: 3% 8%;
  }

  .coleccionesContainer {
    margin: 3% 8%;
  }

  .borPrin {
    margin: 5% 8%;
  }

  .containerTexto {
    margin: 2% 8%;
  }
  .containerTexto .containerMax {
    flex-direction: column;
    flex-basis: 1546px;
    flex-grow: 1;
  }
  .containerTexto .containerMax .separador {
    margin: 1% 0;
    width: 100%;
  }
  .containerTexto .containerMax .separador .lineaSeparador {
    border: 1px solid #d4d4d4;
    border-radius: 2rem;
  }

  .encabezado .header01 {
    flex-basis: 1514px;
    margin: 0 8%;
  }

  .infoPerfilContainer {
    margin: 3% 8%;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1800px) {
  .containerSubastas {
    margin: 2% 10%;
  }

  .coleccionesContainer {
    margin: 2% 10%;
  }

  .borPrin {
    margin: 5% 10%;
  }

  .pie {
    padding: 0 10%;
  }

  .pieSimple {
    padding: 0 10%;
  }

  .containerTexto {
    margin: 2% 10%;
  }
  .containerTexto .containerMax {
    flex-direction: column;
    min-width: 1200px;
    flex-grow: 1;
  }
  .containerTexto .containerMax .separador {
    margin: 1% 0;
    width: 100%;
  }
  .containerTexto .containerMax .separador .lineaSeparador {
    border: 1px solid #d4d4d4;
    border-radius: 2rem;
  }

  .encabezado .header01 {
    flex-basis: 1200px;
    margin: 0 10%;
  }

  .mainContainer .sectionMainContainerIndex .imagenIndex .mainContenido {
    height: 70%;
  }

  .infoPerfilContainer {
    margin: 3% 10%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1500px) {
  .containerSubastas {
    margin: 2% 10%;
    grid-template-columns: repeat(3, 1fr);
  }

  .coleccionesContainer {
    margin: 2% 10%;
  }

  .pie {
    padding: 0 10%;
  }

  .containerTexto {
    margin: 2% 10%;
  }
  .containerTexto .containerMax {
    flex-direction: column;
    min-width: 880px;
    flex-grow: 1;
  }
  .containerTexto .containerMax .separador {
    margin: 1% 0;
    width: 100%;
  }
  .containerTexto .containerMax .separador .lineaSeparador {
    border: 1px solid #d4d4d4;
    border-radius: 2rem;
  }

  .encabezado .header01 {
    flex-basis: 880px;
    margin: 0 10%;
  }

  .mainContainer .sectionMainContainerIndex .imagenIndex .mainContenido {
    height: 50%;
  }

  .infoPerfilContainer {
    margin: 10% 10%;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil {
    width: 60%;
  }
  .infoPerfilContainer .sectionInfo .itemDescPerfil {
    width: 40%;
  }
  .infoPerfilContainer .sectionInfo .itemDescPerfil .texto {
    font-size: 1.5rem;
  }

  .encabezado .menuHamburguer .containerMenuHam {
    width: 60%;
  }
}
@media screen and (max-width: 1350px) {
  .coleccionesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 580px) and (max-width: 1100px) {
  .containerSubastas {
    margin: 1% 10%;
    grid-template-columns: repeat(2, 1fr);
  }

  .principalContainer {
    height: 600px;
  }
  .principalContainer .landingContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
    padding: 10em 5em 5em 5em;
    grid-template-areas: "texto";
  }
  .principalContainer .landingContainer .fotoMain {
    display: none;
  }

  .coleccionesContainer {
    margin: 4% 10%;
  }

  .pie {
    padding: 0 10%;
  }
  .pie .secFooter1 .navFooter {
    flex-direction: column;
  }
  .pie .secFooter1 .navFooter .lIzq {
    margin: 0;
  }
  .pie .secFooter2 .navFooter2 .listas .listasT {
    display: none;
  }

  .pieSimple {
    padding: 0 10%;
  }
  .pieSimple .secFooter2 .navFooter2 .listas .listasT {
    display: none;
  }

  .containerTexto {
    margin: 2% 10%;
  }
  .containerTexto .containerMax {
    flex-direction: column;
    min-width: 464px;
    flex-grow: 1;
  }
  .containerTexto .containerMax .separador {
    margin: 1% 0;
    width: 100%;
  }
  .containerTexto .containerMax .separador .lineaSeparador {
    border: 1px solid #d4d4d4;
    border-radius: 2rem;
  }

  .encabezado .header01 {
    flex-basis: 464px;
    margin: 0;
  }

  .mainContainer {
    height: 1400px;
    padding: 18%;
  }
  .mainContainer .sectionMainContainerIndex {
    flex-direction: column;
  }
  .mainContainer .sectionMainContainerIndex .imagenIndex {
    align-items: center;
  }
  .mainContainer .sectionMainContainerIndex .imagenIndex .mainContenido {
    height: 70%;
    width: 100%;
  }

  .infoPerfilContainer {
    margin: 10% 10%;
  }
  .infoPerfilContainer .sectionInfo {
    flex-direction: column;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil {
    width: 100%;
    justify-content: space-between;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .fotoPerfilInfo .contFotoPerfil {
    height: 120px;
    width: 120px;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .infoPerfil {
    height: 120px;
    align-items: flex-end;
  }
  .infoPerfilContainer .sectionInfo .itemDescPerfil {
    width: 100%;
    padding: 5% 0 3% 0;
    justify-content: flex-end;
  }
  .infoPerfilContainer .sectionInfo .itemDescPerfil .texto {
    font-size: 1.6rem;
  }

  .encabezado .menuHamburguer .containerMenuHam {
    width: 50%;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu {
    flex-direction: column;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu .socialContainer {
    order: 2;
    height: 40%;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu .menuPContainer {
    order: 1;
    height: 60%;
  }
}
@media screen and (max-width: 780px) {
  .coleccionesContainer .coleccionCard .textoColeccion .nombreColeccion {
    font-size: 3rem;
  }
}
@media screen and (max-width: 580px) {
  .perfilContainer {
    margin-bottom: 0;
    height: 350px;
  }
  .perfilContainer .fotosContainer {
    height: 350px;
  }
  .perfilContainer .fotosContainer .fotoPortada .fondoPortada .imgPortada {
    height: 250px;
  }
  .perfilContainer .fotosContainer .fotoPerfil {
    display: flex;
    justify-content: center;
  }
  .perfilContainer .fotosContainer .fotoPerfil .fondoPerfil {
    top: 35%;
    left: 0;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
  }
  .perfilContainer .fotosContainer .fotoPerfil .fondoPerfil .imgPerfil {
    height: 200px;
    width: 200px;
    left: 0;
  }

  .borPrinCont .borPrin .containerId {
    display: none;
  }
}
@media screen and (min-width: 488px) and (max-width: 580px) {
  .containerSubastas {
    grid-template-columns: repeat(1, 1fr);
    margin: 2% 15%;
  }

  .coleccionesContainer {
    margin: 2% 15%;
  }

  .principalContainer {
    height: 600px;
  }
  .principalContainer .landingContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
    padding: 5em 1em 2em 1em;
    grid-template-areas: "texto";
  }
  .principalContainer .landingContainer .textoItem {
    transform: scale(0.8);
  }
  .principalContainer .landingContainer .fotoItem .fotoMain {
    display: none;
  }

  .pie {
    padding: 0 15%;
  }
  .pie .secFooter1 .navFooter {
    flex-direction: column;
  }
  .pie .secFooter1 .navFooter .lIzq {
    margin: 0;
  }
  .pie .secFooter2 .navFooter2 .listas .listasT {
    display: none;
  }

  .pieSimple {
    padding: 0 15%;
  }
  .pieSimple .secFooter2 .navFooter2 .listas .listasT {
    display: none;
  }

  .containerTexto {
    margin: 10% 15%;
  }
  .containerTexto .containerMax {
    flex-direction: column;
    min-width: 256px;
    flex-grow: 1;
  }
  .containerTexto .containerMax .separador {
    margin: 1% 0;
    width: 100%;
  }
  .containerTexto .containerMax .separador .lineaSeparador {
    border: 1px solid #d4d4d4;
    border-radius: 2rem;
  }

  .encabezado .header01 {
    flex-basis: 256px;
    margin: 0;
  }

  .borPrinCont {
    margin: 0 7.5%;
  }

  .fondoMain .sectionMainContainer {
    height: calc(550px + 1.6em);
  }
  .fondoMain .sectionMainContainer .principalContainerCompra .itemImagenCompra {
    height: 350px;
  }
  .fondoMain .sectionMainContainer .usOpCont .usOpContFlex .usOp {
    margin: 0 15% 0 15%;
    grid-template-columns: 2fr 1fr;
    gap: 0;
  }

  .mainContainer {
    height: 1400px;
    padding: 18%;
  }
  .mainContainer .sectionMainContainerIndex {
    flex-direction: column;
  }
  .mainContainer .sectionMainContainerIndex .textoIndex {
    padding-top: 22%;
  }
  .mainContainer .sectionMainContainerIndex .imagenIndex {
    align-items: center;
  }
  .mainContainer .sectionMainContainerIndex .imagenIndex .mainContenido {
    height: 70%;
    width: 100%;
  }

  .infoPerfilContainer {
    margin: 15% 15%;
  }
  .infoPerfilContainer .separador {
    margin-bottom: 8%;
  }
  .infoPerfilContainer .sectionInfo {
    flex-direction: column;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil {
    width: 100%;
    justify-content: space-between;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .fotoPerfilInfo .contFotoPerfil {
    height: 80px;
    width: 80px;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .infoPerfil {
    height: 80px;
    align-items: flex-end;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .infoPerfil .subTitulos {
    font-size: 2rem;
  }
  .infoPerfilContainer .sectionInfo .itemDescPerfil {
    width: 100%;
    padding: 5% 0 3% 0;
    justify-content: flex-end;
  }
  .infoPerfilContainer .sectionInfo .itemDescPerfil .texto {
    font-size: 1.4rem;
  }

  .dataContainerFlex .dataContainer {
    margin: 16% 15%;
  }

  .encabezado .menuHamburguer .containerMenuHam {
    width: 60%;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex {
    padding-top: 80px;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .subTitulos {
    font-size: 2rem;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .listas li {
    font-size: 1.4rem;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu {
    flex-direction: column;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu .socialContainer {
    order: 2;
    height: 30%;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu .menuPContainer {
    order: 1;
    height: 70%;
  }
}
@media screen and (max-width: 488px) {
  .containerSubastas {
    grid-template-columns: repeat(1, 1fr);
    margin: 2% 20%;
  }

  .coleccionesContainer {
    margin: 2% 20%;
  }

  .pie {
    padding: 0 20%;
  }
  .pie .secFooter1 .navFooter {
    flex-direction: column;
  }
  .pie .secFooter1 .navFooter .lIzq {
    margin: 0;
  }
  .pie .secFooter2 .navFooter2 .listas .listasT {
    display: none;
  }

  .pieSimple {
    padding: 0 20%;
  }
  .pieSimple .secFooter2 .navFooter2 .listas .listasT {
    display: none;
  }

  .containerTexto {
    margin: 10% 20%;
  }
  .containerTexto .containerMax {
    flex-direction: column;
    min-width: 73px;
    flex-grow: 1;
  }
  .containerTexto .containerMax .separador {
    margin: 1% 0;
    width: 100%;
  }
  .containerTexto .containerMax .separador .lineaSeparador {
    border: 1px solid #d4d4d4;
    border-radius: 2rem;
  }

  .containerSubastas .card .imagenFlex {
    height: 250px;
  }

  .coleccionFlex {
    margin: 10% 0;
  }
  .coleccionFlex .coleccionCard {
    height: 480px;
  }
  .coleccionFlex .coleccionCard .textoColeccion .nombreColeccion {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    width: 200px;
    left: -15%;
    top: 120px;
    height: 40px;
  }

  .borPrinCont {
    margin: 0 10%;
  }

  .fondoMain .sectionMainContainer {
    height: calc(450px + 1.6em);
  }
  .fondoMain .sectionMainContainer .principalContainerCompra .itemImagenCompra {
    height: 250px;
  }
  .fondoMain .sectionMainContainer .usOpCont .usOpContFlex {
    margin: 0 10%;
  }
  .fondoMain .sectionMainContainer .usOpCont .usOpContFlex .usOp {
    grid-template-columns: 2fr 1fr;
    gap: 0;
  }

  .dataContainerFlex .dataContainer {
    margin: 16% 20%;
  }

  .infoPerfilContainer {
    margin: 20%;
  }

  .mainContainer {
    height: 800px;
    padding: 18%;
  }
  .mainContainer .sectionMainContainerIndex {
    flex-direction: column;
  }
  .mainContainer .sectionMainContainerIndex .textoIndex {
    padding-top: 50%;
    height: 200px;
  }
  .mainContainer .sectionMainContainerIndex .textoIndex .titulos {
    font-size: 2rem;
  }
  .mainContainer .sectionMainContainerIndex .textoIndex .subTitulos {
    display: none;
  }
  .mainContainer .sectionMainContainerIndex .textoIndex .botonesIndex {
    display: none;
  }
  .mainContainer .sectionMainContainerIndex .imagenIndex {
    align-items: center;
    padding-top: 20%;
  }
  .mainContainer .sectionMainContainerIndex .imagenIndex .mainContenido {
    height: 90%;
    width: 100%;
  }

  .subTitulos {
    font-size: 1.5rem;
  }

  .pie .secFooter2 .navFooter2 .listas li {
    margin-right: 0;
  }

  .infoPerfilContainer {
    margin: 15% 20%;
  }
  .infoPerfilContainer .separador {
    margin-bottom: 8%;
  }
  .infoPerfilContainer .sectionInfo {
    flex-direction: column;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil {
    width: 100%;
    justify-content: space-between;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .fotoPerfilInfo .contFotoPerfil {
    height: 80px;
    width: 80px;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .infoPerfil {
    height: 80px;
    align-items: flex-end;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .infoPerfil .subTitulos {
    font-size: 1.5rem;
  }
  .infoPerfilContainer .sectionInfo .itemPerfil .infoPerfil .subtitulosSecundarios {
    font-size: 1.2rem;
  }
  .infoPerfilContainer .sectionInfo .itemDescPerfil {
    width: 100%;
    padding: 10% 0 3% 0;
    justify-content: flex-end;
  }
  .infoPerfilContainer .sectionInfo .itemDescPerfil .texto {
    font-size: 1rem;
  }

  .encabezado .menuHamburguer .containerMenuHam {
    width: 60%;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex {
    padding-top: 80px;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .subTitulos {
    font-size: 2rem;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .listas li {
    font-size: 1.4rem;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu .socialContainer {
    order: 2;
    padding-bottom: 80px;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .socialyMenu .menuPContainer {
    order: 1;
  }
  .encabezado .menuHamburguer .containerMenuHam .menuFlex .contacto {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .encabezado .header01 {
    flex-basis: 464px;
    margin: 0;
  }
  .encabezado .header01 .header02 {
    justify-content: space-between;
  }
  .encabezado .header01 .header02 .search {
    display: none;
  }
  .encabezado .header01 .header02 .botones {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
