@import '../base/variables';

/* //////////////////////////////////////////////////////////////////////////////// */

@mixin gridCol($cant, $tam) {
    grid-template-columns: repeat($cant, $tam);
}

.coleccionesContainer {
    display: grid;
    @include gridCol(2, 1fr);
    gap: 40px;
    margin: 2% 8%;

    .coleccionCard {
        width: 100%;
        height: 600px;
        border-radius: 1em;
        position: relative;
        filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 20px 20px);

        .oscuresedor {
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.3);
            border-radius: 1em;
            position: absolute;
        }

        .imagenColeccion {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1em; 
        }
        
        .textoColeccion {
            color: white;
            
            .nombreColeccion {
                position: absolute;
                bottom: 12%;
                left: 10%;
                font-size: 5rem;
                z-index: 10;
            }
        } 
    }
}


/* //////////////////////////////////////////////////////////////////////////////// */