/* //////////////////////////////////////////////////////////////////////////////// */
@font-face {
    font-family: 'inter-regular';
    src: url(../fonts/InterWeb/Inter-Regular.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'inter-semibold';
    src: url(../fonts/InterWeb/Inter-SemiBold.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'inter-bold';
    src: url(../fonts/InterWeb/Inter-Bold.woff2) format('woff2');
    font-display: swap;
}

/*Satoshi*/
@font-face {
    font-family: 'satoshi-regular';
    src: url(../fonts/Satoshi/Satoshi-Regular.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'satoshi-medium';
    src: url(../fonts/Satoshi/Satoshi-Medium.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'satoshi-bold';
    src: url(../fonts/Satoshi/Satoshi-Bold.woff2) format('woff2');
    font-display: swap;
}
/* //////////////////////////////////////////////////////////////////////////////// */
:root {
    --font-principal-regular: satoshi-regular;
    --font-subtitulos-semibold: satoshi-medium;
    --font-titulos-bold: satoshi-bold;
    --font-numeros: inter-regular;
}
/* //////////////////////////////////////////////////////////////////////////////// */