@import '../components/coleccion';


@media screen and (min-width: 1921px) {
    .subastasFlex {
        display: flex;
        justify-content: center;
    }

    .containerSubastas {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-basis: 1616px;
        flex-wrap: wrap;
        margin: 3% 0;       

        .card {
            flex-basis: 374px;
            max-width: 374px;
        }
    }

    .coleccionFlex {
        display: flex;
        justify-content: center;

        .coleccionesContainer {
            @include gridCol(2, 1fr);
            width: 100%;
            max-width: 1614px;
        }
    }

    .dataContainerFlex {
        display: flex;
        justify-content: center;

        .dataContainer {
            display: flex;
            flex-basis: 1616px;
            max-width: 1616px;
            justify-content: space-between;
        }
    }

    .sectionMainContainer {

        .usOpCont {
            display: flex;
            justify-content: center;
            width: 100%;

            .usOpContFlex {
                display: flex;
                flex-basis: 1616px;
                max-width: 1616px;
                width: 100%;

                .usOp {
                    margin: 0;
                    gap: 1150px;

                    .nom1 {
                        width: 258px;
                    }
                }
            }
        }
    }

    .borPrinCont {
        display: flex;
        justify-content: center;
        // flex-basis: 1616px;
        // max-width: 1616px;

        .borPrin {
            display: flex;
            justify-content: center;
            flex-basis: 1616px;
            max-width: 1616px;
        }
    }

    .containerTexto {
        justify-content: center;
        margin-top: 2%;

        .containerMax {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            flex-basis: 1616px;
            max-width: 1616px;

            .subTitulos {
                justify-content: flex-start;
                flex-basis: 1616px;
                max-width: 1616px;
            }

            .separador {
                width: 100%;
                margin: 1.5% 0;

                .lineaSeparador {
                    border: 1px solid #d4d4d4;
                    border-radius: 2rem;
                }
            }
        }
    }

    .encabezado {
        display: flex;
        justify-content: center;

        .header01 {
            flex-basis: 1616px;
            max-width: 1616px;
            flex-grow: 0;
            // justify-content: center;
        }
    }

    .pie {
        justify-content: center;

        .secFooter1 {
            max-width: 1616px;
        }

        .separadorFooter {
            max-width: 1616px;
        }

        .secFooter2 {
            max-width: 1616px;
        }
    }

    .pieSimple {
        justify-content: center;

        .secFooter2 {
            max-width: 1616px;
        }
    }

    .mainContainer {

        .sectionMainContainerIndex {
            max-width: 1616px;
            justify-content: center;
        }
    }
}

/* mobile */
@media screen and (max-width: 680px) {
    .dataContainerFlex {

        .dataContainer {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px 400px;
            margin: 3rem;
        
            grid-template-areas: 
            'info'
            'compra';
    
            .compraContainer {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;

                .compraCompra {
                    
                    .itemActividad {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
    
    .infoContainer:first-child {
        grid-area: info;
    }
    
    .compraContainer:nth-child(2) {
        grid-area: compra;
    }
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* media query para grid subastas */
@media screen and (min-width: 1800px) and (max-width: 1920px){
    .containerSubastas {
        margin: 3% 8%;
    }

    .coleccionesContainer {
        margin: 3% 8%;
    }

    .borPrin {
        margin: 5% 8%;
    }

    .containerTexto {
        margin: 2% 8%;

        .containerMax {
            flex-direction: column;
            flex-basis: 1546px;
            flex-grow: 1;

            .separador {
                margin: 1% 0;
                width: 100%;

                .lineaSeparador {
                    border: 1px solid #d4d4d4;
                    border-radius: 2rem;
                }
            }
        }
    }

    .encabezado {

        .header01 {
            flex-basis: 1514px;
            margin: 0 8%;
        }
    }
}

@media screen and (min-width: 1500px) and (max-width: 1800px) {
    .containerSubastas {
        margin: 2% 10%;
    }

    .coleccionesContainer {
        margin: 2% 10%;
    }

    .borPrin {
        margin: 5% 10%;
    }

    .pie {
        padding: 0 10%;
    }

    .pieSimple {
        padding: 0 10%;
    }

    .containerTexto {
        margin: 2% 10%;

        .containerMax {
            flex-direction: column;
            min-width: 1200px;
            flex-grow: 1;

            .separador {
                margin: 1% 0;
                width: 100%;

                .lineaSeparador {
                    border: 1px solid #d4d4d4;
                    border-radius: 2rem;
                }
            }
        }
    }

    .encabezado {

        .header01 {
            flex-basis: 1200px;
            margin: 0 10%;
        }
    }

    .mainContainer {

        .sectionMainContainerIndex {

            .imagenIndex {

                .mainContenido {
                    height: 70%;
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) and (max-width: 1500px) {
    .containerSubastas {
        margin: 2% 10%;
        grid-template-columns: repeat(3, 1fr);
    }

    .coleccionesContainer {
        margin: 2% 10%;
    }

    .pie {
        padding: 0 10%;
    }

    .containerTexto {
        margin: 2% 10%;

        .containerMax {
            flex-direction: column;
            min-width: 880px;
            flex-grow: 1;

            .separador {
                margin: 1% 0;
                width: 100%;

                .lineaSeparador {
                    border: 1px solid #d4d4d4;
                    border-radius: 2rem;
                }
            }
        }
    }

    .encabezado {

        .header01 {
            flex-basis: 880px;
            margin: 0 10%;
        }
    }

    .mainContainer {

        .sectionMainContainerIndex {

            .imagenIndex {

                .mainContenido {
                    height: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .coleccionesContainer {
        @include gridCol(1, 1fr)
    }
}

@media screen and (min-width: 580px) and (max-width: 1100px) {
    .containerSubastas {
        margin: 1% 10%;
        grid-template-columns: repeat(2, 1fr);
    }

    .principalContainer {
        height: 600px;

        .landingContainer {
            grid-template-columns: 1fr;
            grid-template-rows: 400px;
            padding: 10em 5em 5em 5em;
        
            grid-template-areas: 
            'texto';

            .fotoMain {
                display: none;
            }
        }
    }

    .coleccionesContainer {
        margin: 4% 10%;
    }

    .pie {
        padding: 0 10%;
    
        .secFooter1 {
    
            .navFooter {
                flex-direction: column;
    
                .lIzq {
                    margin: 0;
                }
            }
        }
    
        .secFooter2 {
    
            .navFooter2 {
                
                .listas {
    
                    .listasT {
                        display: none;
                    }
                }
            } 
        }
    }
    
    .pieSimple {
        padding: 0 10%;

        .secFooter2 {
    
            .navFooter2 {
                
                .listas {
    
                    .listasT {
                        display: none;
                    }
                }
            } 
        }
    }

    .containerTexto {
        margin: 2% 10%;

        .containerMax {
            flex-direction: column;
            min-width: 464px;
            flex-grow: 1;

            .separador {
                margin: 1% 0;
                width: 100%;

                .lineaSeparador {
                    border: 1px solid #d4d4d4;
                    border-radius: 2rem;
                }
            }
        }
    }

    .encabezado {

        .header01 {
            flex-basis: 464px;
            margin: 0;
        }
    }

    .mainContainer {
        height: 1400px;

        .sectionMainContainerIndex {
            flex-direction: column;

            .imagenIndex {
                align-items: center;

                .mainContenido {
                    height: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .coleccionesContainer {
    
        .coleccionCard {
            
            .textoColeccion {
    
                .nombreColeccion {
                  font-size: 3rem;
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .perfilContainer {
        margin-bottom: 0;
        height: 350px;

        .fotosContainer {
            height: 350px;

            .fotoPortada {
                
                .fondoPortada {

                    .imgPortada {
                        height: 250px;
                    }
                }
            }

            .fotoPerfil {
                display: flex;
                justify-content: center;
    
                .fondoPerfil {
                    top: 35%;
                    left: 0;
                    height: 220px;
                    width: 220px;
                    display: flex;
                    justify-content: center;

                    .imgPerfil {
                        height: 200px;
                        width: 200px;
                        left: 0;
                        // top: 20px;
                    }
                }
            }
        }
    }

    .borPrinCont {

        .borPrin{

            .containerId {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 488px) and (max-width: 580px) {
    .containerSubastas {
        grid-template-columns: repeat(1, 1fr);
        margin: 2% 15%;
    }

    .coleccionesContainer {
        margin: 2% 15%;
    }

    .principalContainer {
        height: 600px;

        .landingContainer {
            grid-template-columns: 1fr;
            grid-template-rows: 400px;
            padding: 5em 1em 2em 1em;
        
            grid-template-areas: 
            'texto';

            .textoItem {
                transform: scale(.8);
            }

            .fotoItem {
                
                .fotoMain {
                    display: none;
                }
            }
        }
    }
 
    .pie {
        padding: 0 15%;
    
        .secFooter1 {
    
            .navFooter {
                flex-direction: column;
    
                .lIzq {
                    margin: 0;
                }
            }
        }
    
        .secFooter2 {
    
            .navFooter2 {
                
                .listas {
    
                    .listasT {
                        display: none;
                    }
                }
            } 
        }
    } 
    
    .pieSimple {
        padding: 0 15%;

        .secFooter2 {
    
            .navFooter2 {
                
                .listas {
    
                    .listasT {
                        display: none;
                    }
                }
            } 
        }
    }

    .containerTexto {
        margin: 10% 15%;

        .containerMax {
            flex-direction: column;
            min-width: 256px;
            flex-grow: 1;

            .separador {
                margin: 1% 0;
                width: 100%;

                .lineaSeparador {
                    border: 1px solid #d4d4d4;
                    border-radius: 2rem;
                }
            }
        }
    }

    .encabezado {

        .header01 {
            flex-basis: 256px;
            margin: 0;
        }
    }

    .borPrinCont {
        margin: 0 7.5%;
    }

    .fondoMain {

        .sectionMainContainer {
            height: calc(550px + 1.6em);

            .principalContainerCompra {

                .itemImagenCompra {
                    height: 350px;
                }
            }

            .usOpCont {

                .usOpContFlex {

                    .usOp {
                        grid-template-columns: 2fr 1fr;
                        gap: 0;
                    }
                }
            }
        }
    }

    .mainContainer {
        height: 1400px;
        padding: 18%;

        .sectionMainContainerIndex {
            flex-direction: column;

            .textoIndex {
                padding-top: 22%;
            }

            .imagenIndex {
                align-items: center;

                .mainContenido {
                    height: 70%;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 488px) {
    .containerSubastas {
        grid-template-columns: repeat(1, 1fr);
        margin: 2% 20%;
    }

    .coleccionesContainer {
        margin: 2% 20%;
    }

    .pie {
        padding: 0 20%;
    
        .secFooter1 {
    
            .navFooter {
                flex-direction: column;
    
                .lIzq {
                    margin: 0;
                }
            }
        }
    
        .secFooter2 {
    
            .navFooter2 {
                
                .listas {
    
                    .listasT {
                        display: none;
                    }
                }
            } 
        }
    } 
    
    .pieSimple {
        padding: 0 20%;

        .secFooter2 {
    
            .navFooter2 {
                
                .listas {
    
                    .listasT {
                        display: none;
                    }
                }
            } 
        }
    }

    .containerTexto {
        margin: 10% 20%;

        .containerMax {
            flex-direction: column;
            min-width: 73px;
            flex-grow: 1;

            .separador {
                margin: 1% 0;
                width: 100%;

                .lineaSeparador {
                    border: 1px solid #d4d4d4;
                    border-radius: 2rem;
                }
            }
        }
    }

    .containerSubastas {

        .card {

            .imagenFlex {
                height: 250px;
            }
        }
    }

    .coleccionFlex {
        margin: 10% 0;

        .coleccionCard {
            height: 480px;

            .textoColeccion {
                
                .nombreColeccion {
                    transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    width: 200px;
                    left: -15%;
                    top: 120px;
                    height: 40px;
                }
            }
        }
    }

    .borPrinCont {
        margin: 0 10%;
    }

    .fondoMain {

        .sectionMainContainer {
            height: calc(450px + 1.6em);

            .principalContainerCompra {

                .itemImagenCompra {
                    height: 250px;
                }
            }

            .usOpCont {

                .usOpContFlex {
                    margin: 0 10%;

                    .usOp {
                        grid-template-columns: 2fr 1fr;
                        gap: 0;
                    }
                }
            }
        }
    }

    .dataContainerFlex {

        .dataContainer {
            margin: 16%;
        }
    }

    .infoPerfilContainer {
        margin: 20%;
    }

    .mainContainer {
        height: 1400px;
        padding: 18%;

        .sectionMainContainerIndex {
            flex-direction: column;

            .textoIndex {
                padding-top: 22%;

                .titulos {
                    font-size: 3rem;
                }
            }

            .imagenIndex {
                align-items: center;

                .mainContenido {
                    height: 70%;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .encabezado {

        .header01 {
            flex-basis: 464px;
            margin: 0;

            .header02 {
                justify-content: space-between;

                .search{
                    display: none;
                }

                .botones {
                    display: none;
                }
            }
        }
    }
}